@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6u1iyl');
  src:  url('../fonts/icomoon.eot?6u1iyl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6u1iyl') format('truetype'),
    url('../fonts/icomoon.woff?6u1iyl') format('woff'),
    url('../fonts/icomoon.svg?6u1iyl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mark-github:before {
  content: "\e900";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-linkedin:before {
  content: "\eac9";
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10%;
}

.menu li {
  display: inline;
  margin-right: 2.5%;
}

.menu li a { 
  text-decoration: none;
  color: #7f8c8d;
  font-weight: bold;
  font-size: 1.5em;
}

.menu li a:hover {
  color: #bdc3c7;
}

.social i {
  font-size: 1em;
}

.header {
  margin-bottom: 5px;
}

.header a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.list {
  list-style-type: none;
  margin-top: 2em;
}

.desc {
  margin-top: -10px
}

.meta {
  margin-top: -15px;
}

p {
  font-size: 1.25em;
}

.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal-list li {
  float: left;
  display: block;
}
