---
layout: page
title: About Ian
---
<p>Hi there! My name is Ian Tracey, a software engineer from Boston, MA now living in Tucson, AZ.</p>
<p>I believe in the potential software has to shape how we work, live and play. I am with obsessed with finding challenging problems and creating immense value out of the solutions.</p>
<p>I work at <a href="http://latitudeengineering.com/">Latitude</a> where I design cloud APIs and backend systems for drone operations, mapping and imagery platforms. Previously I have worked on moving money through the internet at  <a href="https://www.braintreepayments.com/">Braintree</a> and an enterprise social network at <a href="http://www.cisco.com/c/en/us/index.html">Cisco</a>.</p>
<p>Besides writing code and designing systems, I love discovering great food and coffee, <a href="http://hackarizona.org/">running hackathons</a> spending (too much) time on Spotify,exploring new cities with friends and learning new tools and technology.</p>
