---
layout: default
---

<!-- <article class="post">
  <h1 class="f2 lh-title mb1 black-80">{{ page.title }}</h1>
  <time class="lh-copy mt0 gray" datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  <div class="lh-copy">
  {{ content }}
</div>
</article> -->
<div class="mt5">
<article>
  <h3 class="f2 near-black measure">{{ page.title }}</h3>
  <time class="lh-copy gray" datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: '%B %d, %Y' }}</time>
  <div class="lh-copy measure near-black pt3">
    {{ content }}
  </div>
</article>
{% if site.related_posts != empty %}
<aside class="f3 lh-copy pt4">
  <h3>Related posts</h3>
  <ul class="list pl0">
    {% for post in site.related_posts limit:3 %}
      <li class="f4 lh-copy mb3">
        <a class="link black dim b bg-light-yellow" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
</div>
